.house-list-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 3rem 0;
}

@media(max-width: 768px) {
    .house-list-section {
        padding: 0;
    }
}   