<ng-template #createModal [ngIf]="showModal">
  <div
    class="fixed top-0 left-0 right-0 bottom-0 bg-custom-rgba flex justify-center items-center z-40"
  >
    <div class="rounded-lg p-6 shadow-sm shadow-black-100 bg-white z-50">
      <div class="flex justify-end">
        <button (click)="quitModal()" class="">X</button>
      </div>
      <div class="p-6">
        <h4 class="text-black-900 text-xl text-center my-2">
          {{ this.title }}
        </h4>
        <p>
          {{ this.message }}
        </p>
        <button
          type="button"
          class="bg-teal-600 text-white px-4 py-2 mx-2 rounded-md"
          (click)="confirm()"
        >
          Confirm
        </button>
        <button
          type="button"
          class="border border-teal-600 bg-white text-teal-600 px-4 py-2 mx-2 rounded-md"
          (click)="quitModal()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
