/* Configuracion de tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom-rgba {
    background-color: rgba(59, 59, 59, 0.5); /* Cambia estos valores RGBA según tus necesidades */
  }